In [2]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

sns.set
%matplotlib inline

In [5]:
df = pd.read_csv('ham_lyrics.csv', engine='python')

In [6]:
df.head()

,title,speaker,lines
0,Alexander Hamilton,BURR,"How does a bastard, orphan, son of a whore and a"
1,Alexander Hamilton,BURR,"Scotsman, dropped in the middle of a forgotten"
2,Alexander Hamilton,BURR,"Spot in the Caribbean by providence, impoveris..."
3,Alexander Hamilton,BURR,Grow up to be a hero and a scholar?
4,Alexander Hamilton,LAURENS,The ten-dollar Founding Father without a father

In [7]:
grouped_df = df.groupby('title')['lines'].apply(lambda x: ','.join(x)).reset_index()
grouped_df.head()

,title,lines
0,A Winter's Ball,"How does the bastard, orphan, son of a whore,G..."
1,"Aaron Burr, Sir","1776. New York City,Pardon me. Are you Aaron B..."
2,Alexander Hamilton,"How does a bastard, orphan, son of a whore and..."
3,Best of Wives and Best of Women,"Alexander, come back to sleep,I have an early ..."
4,Blow Us All Away,"Meet the latest graduate of King's College!,I ..."

In [10]:
grouped_df['lines'][0]

"How does the bastard, orphan, son of a whore,Go on and on,Grow into more of a phenomenon?,Watch this obnoxious, arrogant, loudmouth bother,Be seated at the right hand of the father,Washington hires Hamilton right on sight,But Hamilton still wants to fight, not write,Now Hamilton's skill with a quill is undeniable,But what do we have in common? We're,Reliable with the,Ladies!,There are so many to deflower!,Ladies!,Looks! Proximity to power,Ladies!,They delighted and distracted him,Martha Washington named her feral tomcat after him!,That's true!,1780,A winter's ball,And the Schuyler sisters are the envy of all,Yo, if you can marry a sister, you're rich, son,Is it a question of if, Burr, or which one?,Hey,Hey,Hey hey"